@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
    --pink: 251, 46, 134;  
    --red: 251, 36, 72;    
    --blue: 47, 26, 196;   
    --offNavy: 63, 80, 158; 
    --navy: 21, 24, 117;   
    --skyBlue: 241, 240, 255; 
    --pantone: 224, 211, 245; 
    --purple: 126, 51, 224;  
    --offPurple: 159, 99, 181; 
    --offBlue:13, 14, 67; 
    --light: 241, 240, 255  ; 
    --white: 255,255,255 ; 
    --shade: 138, 143, 185; 
    --footer-bg: 238, 239, 251; 
    --footer-bottom: 231, 228, 248; 
}

 */

:root {
    --primary-a0: 47, 26, 196 ; /* blue */
    --primary-a10: 13, 14, 67 ; /* off blue */
    --primary-a20: 21, 24, 117 ;/* navy */
    --primary-a30: 63, 80, 158 ;/* off navy */
    --primary-a40: 14, 15, 0;/* sky blue */
    --primary-a50: 138, 143, 185 ;/* shade */
    --secondary-a0: 126, 51, 224 ; /* purple */
    --secondary-a10: 144, 76, 228 ;/* off purple */
    --secondary-a20:  160, 99, 232;
    --secondary-a30:  175, 121, 236;
    --secondary-a40: 224, 211, 245 ;/* pantone */
    --secondary-a50: 255, 246, 251;
    --surface-a0: 126, 51, 224 ;  /* purple */
    --surface-a10: 241, 240, 255 ; /* light */
    --surface-a20: 255,255,255 ; /* white */
    --surface-a30: 238, 239, 251 ;/* footer */
    --surface-a40: 231, 228, 248 ; /* footer-bottom */
    --surface-a50: 251, 46, 134 ;/* pink */
}


[data-theme= "dark"]{
    --primary-a0: 208, 229, 59;       /* Opposite of 47, 26, 196 */
    --primary-a10: 242, 241, 188;     /* Opposite of 13, 14, 67 */
    --primary-a20: 234, 231, 138;     /* Opposite of 21, 24, 117 */
    --primary-a30: 192, 175, 97;      /* Opposite of 63, 80, 158 */
    --primary-a40:  241, 240, 255;          /* Opposite of 241, 240, 255 */
    --primary-a50: 117, 112, 70;      /* Opposite of 138, 143, 185 */
    --secondary-a0: 129, 204, 31;     /* Opposite of 126, 51, 224 */
    --secondary-a10: 111, 179, 27;    /* Opposite of 144, 76, 228 */
    --secondary-a20: 95, 156, 23;     /* Opposite of 160, 99, 232 */
    --secondary-a30: 80, 134, 19;     /* Opposite of 175, 121, 236 */
    --secondary-a40: 31, 44, 10;      /* Opposite of 224, 211, 245 */
    --secondary-a50: 51, 90, 12;      /* Opposite of 204, 165, 243 */
    --surface-a0: 59, 104, 11;       /* Opposite of 126, 51, 224 */
    --surface-a10: 255, 255, 255;         /* Opposite of 241, 240, 255 */
    --surface-a20: 87, 87, 87;           /* Opposite of 255, 255, 255 */
    --surface-a30: 17, 16, 4;         /* Opposite of 238, 239, 251 */
    --surface-a40: 24, 27, 7;         /* Opposite of 231, 228, 248 */
    --surface-a50: 4, 209, 121;       /* Opposite of 251, 46, 134 */
    
}



.App{
    transition: all 0.8s ease-in-out;
}

.btn{
    @apply bg-surfaceA50 text-white px-4 py-1 rounded-md capitalize font-medium hover:bg-surfaceA0;
}
.card{
    @apply shadow-2xl flex flex-col mx-6 md:mx-0 rounded-md;
}
h1,h2,h3,h4,h5,h6{
    @apply text-primaryA10 font-bold capitalize;
}
p{
    @apply text-primaryA30;
}
.input-control{
    @apply p-2 border rounded-md mb-2;
}
.input-control:focus-visible{
    outline: 2px;
    outline-style:inset;
    outline-color: rgba(var(--primary-a30));
}